@model EventHub.ViewModels.EventForViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add A Event</h2>

@using (Html.BeginForm("Create", "Events"))
{
    <p class="alert alert-info">All field are <strong>required</strong></p>
    @Html.AntiForgeryToken();
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "eg Kamrul Hasan" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Vanue)
        @Html.TextBoxFor(m => m.Vanue, new { @class = "form-control", placeholder = "eg Dhanmondi 32, Dhaka 1216" })
        @Html.ValidationMessageFor(m => m.Vanue)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "eg 12 Jan 2021" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 12:30 PM" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Category)
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
}

