@model IEnumerable<EventHub.Models.Event>
@{
    ViewBag.Title = "Mine";
}

<h2>My Upcomming Events</h2>


<ul class="events voffset4">
    @foreach (var evnt in Model)
    {
        <li class="event-list">
            <div class="date">
                <div class="month">
                    @evnt.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @evnt.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <div class="name">
                    @evnt.Name
                </div>
                <div class="organizer">
                    @evnt.Vanue

                </div>
                <div class="category">
                    @evnt.Category
                </div>

                <div class="actions">
                    <a href="@Html.Action("edit","events")">Edit</a>
                </div>

            </div>

        </li>
    }
</ul>