@model IEnumerable<EventHub.Models.Event>
@{
    ViewBag.Title = "Mine";
}

<h2>My Upcomming Events</h2>


<ul class="events voffset4">
    @foreach (var evnt in Model)
    {
        <li class="event-list">
            <div class="date">
                <div class="month">
                    @evnt.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @evnt.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <div class="name">
                    @evnt.Name
                </div>
                <div class="organizer">
                    @evnt.Vanue

                </div>
                <div class="category">
                    @evnt.Category.Name
                </div>

                <div class="my-actions">
                    <a href="@Url.Action("edit","events",new { id=evnt.Id})">Edit</a> |
                    <a href="#" class="js-cancel-event" data-event-id="@evnt.Id">Cancel</a>
                </div>

            </div>

        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.js-cancel-event').click(function (e) {
                var link = $(e.target);

                bootbox.confirm({
                    title: "Delete",
                    message: "Are you sure you want to delete this event?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result == true) {
                            $.ajax({
                                url: "/api/events/" + link.attr("data-event-id"),
                                method: "DELETE"
                            })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    })
                                })
                                .fail(function () {
                                    alert("Something failed");
                                })
                        }
                        console.log('This was logged in the callback: ' + result);
                    }
                });

                //bootbox.confirm("Are you sure you want to delete this event?", function (result) {
                //    $.ajax({
                //        url: "/api/events/" + link.attr("data-event-id"),
                //        method: "DELETE"
                //    })
                //        .done(function () {
                //            link.parents("li").fadeOut(function () {
                //                $(this).remove();
                //            })
                //        })
                //        .fail(function () {
                //            alert("Something failed");
                //        })
                //});
            });
        });
    </script>
}