@*@model EventHub.ViewModels.EventsViewModel*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A Event Sharing Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Montserrat:400,400i,500,500i,600,600i,700,700i,800|Roboto:400,400i,500,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add A Event", "Create", "Events")</li>

                </ul>
                <ul class="nav navbar-nav text-center">
                    <li class="nav-search-box">
                        @using (Html.BeginForm("Search", "Events"))
                        {
                            <div class="form-group">
                                @*@Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control nav-search-textbox", placeholder = "Search event..." })*@
                            </div>
                        }
                    </li>
                </ul>


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4">Column 1</div>
                    <div class="col-md-4">Column 2</div>
                    <div class="col-md-4">Column 3</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="text-center">&copy; @DateTime.Now.Year - A Event Sharing Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/plugin/owlcarousel/css")
    @Scripts.Render("~/plugin/owlcarousel/js")

    @RenderSection("scripts", required: false)

    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications,function(notification){
            if(notification.type == 1){ %>
            <li> <span class="highlight"><%= notification.event.organizer.name %></span> has cancel the event at <span class="highlight"><%= notification.event.vanue %></span> and <span class="highlight"><%= moment(notification.event.dateTime).format("D MMM YYYY HH:mm")  %></span>.</li>
            <% }
            else if(notification.type == 2){
            var changes = [],
            originalValues = [],
            newValues = [];
            if(notification.OriginalValue != notification.event.vanue)
            {
            changes.push('vanue');
            originalValues.push(notification.originalVanue);
            newValues.push(notification.event.vanue);
            }
            if(notification.OriginalDateTime != notification.event.dateTime)
            {
            changes.push('date/time');
            originalValues.push(moment(notification.originalDateTime).format("D MMM YYYY HH:mm"));
            newValues.push(moment(notification.event.dateTime).format("D MMM YYYY HH:mm"));
            }%>
            <li> <span class="highlight"><%= notification.event.organizer.name %></span> has change the <%= changes.join(' and ') %> of the event from <span class="highlight"><%= originalValues.join('/')  %></span> to <span class="highlight"><%= newValues.join('/')  %></span>.</li>
            <% }
            })
            %>
        </ul>
    </script>

    <script>
        $(function () {
            $.getJSON('/api/notifications', function (notifications) {

                if (notifications.length == 0) return;

                $('.js-notifications-count')
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $('.notifications').popover({
                    html: true,
                    title: "Notifications",
                    content: function () {

                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });

                    },
                    placement: "bottom"
                }).on("show.bs.popover", function () {
                    $.post('/api/notifications/MarkAsRead').done(function () {
                        $('.js-notifications-count')
                            .text("")
                            .addClass("hide");
                    })
                });

            });



        });

        $('.owl-carousel').owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            pagination: false,
            rewindSpeed: 500
        });

    </script>


</body>
</html>
