<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A Event Sharing Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Montserrat:400,400i,500,500i,600,600i,700,700i,800|Roboto:400,400i,500,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add A Event", "Create", "Events")</li>

                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A Event Sharing Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications,function(notification){
            if(notification.type == 1){ %>
            <li> <span class="highlight"><%= notification.event.organizer.name %></span> has cancel the event at <span class="highlight"><%= notification.event.vanue %></span> and <span class="highlight"><%= moment(notification.event.dateTime).format("D MMM YYYY HH:mm")  %></span>.</li>
            <% }
            else if(notification.type == 2){
            var changes = [],
            originalValues = [],
            newValues = [];
            if(notification.OriginalValue != notification.event.vanue)
            {
            changes.push('vanue');
            originalValues.push(notification.originalVanue);
            newValues.push(notification.event.vanue);
            }
            if(notification.OriginalDateTime != notification.event.dateTime)
            {
            changes.push('date/time');
            originalValues.push(moment(notification.originalDateTime).format("D MMM YYYY HH:mm"));
            newValues.push(moment(notification.event.dateTime).format("D MMM YYYY HH:mm"));
            }%>
            <li> <span class="highlight"><%= notification.event.organizer.name %></span> has change the <%= changes.join(' and ') %> of the event from <span class="highlight"><%= originalValues.join('/')  %></span> to <span class="highlight"><%= newValues.join('/')  %></span>.</li>
            <% }
            })
            %>
        </ul>
    </script>

    <script>
        $(function () {
            $.getJSON('/api/notifications', function (notifications) {

                if (notifications.length == 0) return;

                $('.js-notifications-count')
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $('.notifications').popover({
                    html: true,
                    title: "Notifications",
                    content: function () {

                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });

                    },
                    placement: "bottom"
                }).on("show.bs.popover", function () {
                    $.post('/api/notifications/MarkAsRead').done(function () {
                        $('.js-notifications-count')
                            .text("")
                            .addClass("hide");
                    })
                });

            });



        });
    </script>
</body>
</html>
