@model EventHub.ViewModels.EventsViewModel
@{
    ViewBag.Title = "Events";
}

<div class="row">
    <div class="col-md-6">
        <h2>@Model.Heading</h2>
    </div>
    <div class="col-md-6 search-section">

    </div>
</div>


<div class="row">
    <ul class="events voffset4">
        @foreach (var evnt in Model.UpcommingEvents)
        {

            <li class="event-list col-md-4">
                <div class="date">
                    <div class="month">
                        @evnt.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @evnt.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="details">
                    <div class="name">
                        <a href="@Url.Action("../events/details/"+ evnt.Id)"> @evnt.Name</a>
                    </div>
                    <div class="organizer">
                        Organizer: @evnt.Organizer.Name

                        <span class="follow-organization">
                            @if (Model.ShowingActions)
                            {
                                <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@evnt.OrganizerId">Follow</button>
                            }
                        </span>
                    </div>
                    <div class="category">
                        @*@evnt.Category.Name*@
                    </div>


                </div>

                <div class="actions">
                    @if (Model.ShowingActions)
                    {
                        <button class="btn btn-primary btn-sm js-toggle-attendance @(Model.Attendances.Contains(evnt.Id) ? "btn-info": "btn-default")" data-event-id="@evnt.Id">Goging ?</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            EventsController.init();

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                var idOrg = button.attr("data-user-id");
                console.log("ID:", idOrg);
                $.post("/api/Followings", { "FolloweeId": button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });

        });
    </script>
}
